*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background: linear-gradient(#6164C3,#3E56EB);
    /* background: linear-gradient(#A56662,#2E8B74); */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}
.container h1{
    font-size: 2.2em;
    color: #fff;
    text-align: center;
    text-shadow: 3px 3px 10px #333;
    user-select: none;
}
.container .div-1, .container .div-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    height: 300px;
    padding: 10px 30px;
    box-shadow: 0 0 10px #c5c5c5;
}
.container .div-1 span, .container .div-2 span{
    width: auto;
    height: auto;
    padding: 10px 20px;
    background: transparent;
    font-size: 18px;
    color: #fff;
    box-shadow: 0 0 10px #c5c5c5;
    margin: 10px 20px;
}
.container button{
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 16px;
    border-radius: 0.5em;
    user-select: none;
    cursor: pointer;
    border: none;
    border: 1px solid #e8e8e8;
    background: #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, 
                -6px -6px 12px #fff;
    transition: all 0.3s;
}
.container button:active{
    transform: scale(0.9);
    transition: all 0.3s;
}
.container .div-1 p, .container .div-2 p{
    color: #ddd;
}
.container .div-1 p a, .container .div-2 p a{
    color: #ddd;
}
@media (max-width: 370px) {
    .container .div-1, .container .div-2{
        margin: 10px;
        height: 97vh;
        padding: 10px 60px;
    }
    .container .div-2{
        padding: 0;
        margin: 10px 5px;
    }
    .container .div-1 span, .container .div-2 span{
        width: 90%;
    }
}